h1{
	font-size: 7rem;
}
h2{
	font-size: 3.6rem;
}
h3{
	font-size: 2.5rem;
}

nav#topnavheader {
	flex-wrap: wrap;
}
nav#topnavheader .navbar-toggler {
	display:block;
	cursor: pointer;
}

nav#topnavheader .navbar-toggler {
  text-align: right;
  flex-grow: 1;
	padding: 15px 40px;
}

div#navbarSupportedContent {
	width:100%;
	display: block;
	flex-basis: 100%;
}

div#navbarSupportedContent.collapse {
	display: none;
}

div.flex-column-container {
	flex-direction: column;
}
div.flex-column-container.mobile-row {
	flex-direction: row;
}
div.circular-img {
	width: 230px;
	padding-top: 230px;
}

div.flex-content-column.background-img{
	width: 100%;
	height: 200px;
	min-height: 200px;
	margin-bottom: 2rem;
}
div.flex-content-column.background-img.left,
div.flex-content-column.background-img.right{
	border-radius: 0;
}
#aboutWelcome, #aboutChef{ flex: auto; flex-grow: 0; }
#aboutWelcome .flex-content-middle{ text-align: center; }
#aboutChef .flex-content-middle{ text-align: center; }

#aboutChef .flex-content-column:first-child{ order: 2; }
#aboutChef #pastry-img2{ order: 1; }

div#ourFlavours {
	padding: 0 2vw;
}

.hide-small{
	display: none !important;
}

span.background-letter{
  font-size: 60vw;
}

footer span.fa{
	font-size: 2.5rem;
	margin-right: 10px;
}
footer span.fa:last-child{
	margin: 0;
}