#homeHero {
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../img/top-hero.jpg);
  background-size: cover;
  background-position: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: inherit;
}



h1.display-3{ font-size:3.5rem; }

.hero-slider {
    position: relative;
    padding:0;
    min-height:16.250rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.hero{
  background:#cccccc;
  position:relative;
  padding:4rem 0;
  margin:2rem 0;
}
.hero.mixing,.hero.eating,.hero.cake{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.color-white{ color:white; }

.bg-gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(70,50,50, 0.6);/*rgba(150, 72, 115, 0.6);*/
}
.bg-gradient-overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 17, 22, 0.7);
  /* fallback/image non-cover color */
  background: -moz-linear-gradient(0deg, rgba(16, 17, 22, 0.7), rgba(16, 17, 22, 0.7));
  /* Firefox 3.6+ */
  background: -webkit-gradient(0deg, linear, 0% 0%, 0% 100%, from(rgba(16, 17, 22, 0.7)), to(rgba(16, 17, 22, 0.7)));
  /* Safari 4+, Chrome 1+ */
  background: -webkit-linear-gradient(0deg, rgba(16, 17, 22, 0.7), rgba(16, 17, 22, 0.7));
  /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient(0deg, rgba(16, 17, 22, 0.7), rgba(16, 17, 22, 0.7));
  /* Opera 11.10+ */
}


.section{
  margin:6rem 0;
}

a#backtotop{ background: #C90070; color: white; padding: 10px; position: fixed; right: calc(50% - 18px); bottom: 20px; display:none; }

.flex-content-middle{
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
#aboutWelcome .flex-content-middle{ text-align: left; }
#aboutChef .flex-content-middle{ text-align: right; }
div.flex-column-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}
div.flex-column-container.wrap{
  flex-wrap: wrap;
}

.sh-divider-line {
  border-top: 1px solid #e5e5e5;
  margin: 1rem auto;
  border-radius: 11px;
  border-top-width: 1px;
  border-top-style: dashed;
  width: 100%;
}
.sh-divider-line.small{
  width: 60%;
}

#what-offer-img-1{
  background-image: url(../img/three/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#what-offer-img-2{
  background-image: url(../img/three/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#what-offer-img-3{
  background-image: url(../img/three/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#pastry-img{
  background-image: url(../img/pastry.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#pastry-img2{
  background-image: url(../img/pastry2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

div.flex-content-column{
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  padding: 1rem;
  position: relative;
}
div.flex-content-column h3{ font-size: 3rem; margin-bottom: 3rem; }
div.circular-img{
  width:100%;
  padding-top:100%;
  border-radius: 50%;
  margin: 0 auto 3rem;
}

div.flex-content-column.background-img{
  min-height: 95vh;
  box-shadow: 0px 15px 45px -9px rgba(189, 92, 92, 0.25);
}
div.flex-content-column.background-img.left{
  border-radius: 0px 10px 10px 0px;
}
div.flex-content-column.background-img.right{
  border-radius: 10px 0 0 10px;
}

span.background-letter{
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-style: italic;
  color: fuchsia;
  opacity: 0.15;
  font-size: 30vw;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: -1;
}

div#ourFlavours:before {
  content: " ";
  background-image: url(../img/flavour-top.jpg);
  background-position: top center;
  background-size: cover;
  height: 40vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
div#ourFlavours:after {
  content: " ";
  background-image: url(../img/flavour-bottom.png);
  background-position: top center;
  background-size: cover;
  height: 40vh;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
div#ourFlavours{
  padding: 0 10vw;
}
div.card-content{
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 7px 25px 1px rgba(0,0,0,0.08);
  background-color: #ffffff;
  width: 100%;
  padding: 3vw;
  margin: 20vh auto;
  min-height: 50vh;
}

div#ourFlavours h5{
  margin: 4rem 0 0;
}

div#ourFlavours div.ind-flavour{
  margin-bottom: 5rem;
}


div#enquire{
  background-image: url(../img/enquire-bg.jpg);
  background-position: top center;
  background-size: cover;
  padding: 0 10vw;
}

footer img.copyrights-image{
  width:100px;
  height: auto;
}


/******************** Slick Slider */
.slider { width:90%; margin:0 auto; }
.slick-slide { margin: 0px 1rem; }
.slick-slide img { width: 100%; }
.slick-prev:before, .slick-next:before { color: black; }
.slick-slide {transition: all ease-in-out .3s; opacity: .2; }
.slick-active{opacity: .5; }
.slick-current { opacity: 1; }
/*********************************************/
