.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: 0 15px;
  line-height: 1em;
  font-size: 3em;
  color: rgba(255,255,255,0.8);
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: rgba(255,255,255,1);
}

.menu-close {
  padding: 0 15px;
  line-height: 1em;
  font-size: 3em;
  color: rgba(255,255,255,0.8);
}
.menu-close:hover,
.menu-close:focus {
  color: rgba(255,255,255,1);
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
#topnavheader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#topnavheader img.header-logo{
  width: 40px;
  height: auto;
  z-index: 1;
}

#topnavheader .web-logo img.header-logo { display: none; }
#topnavheader.scrolled .web-logo img.header-logo { display: block; }

#topnavheader .menu-logo img.header-logo{
  float: left;
  margin: 17px;
}

.main-menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
	transition: left 0.3s ease;
  z-index: 999;
  background: #1a1a1a;
}

.main-menu ul {
  list-style: none;
  margin: 75px 0 0 0;
  padding: 0;
  text-align: center;
}

.main-menu a {
  display: block;
  padding: 1.2em 15px;
  color:rgba(255,255,255,0.8);
  text-decoration: none;
  font-weight: 700;
  text-decoration: none;
  border-top: 1px solid #383838;
}

/*.main-menu li:first-child a {
  border-top: 1px solid #383838;
}*/

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  color:rgba(255,255,255,1);
}

.main-menu .menu-close {
  position: absolute;
  right: 37px;
  top: 20px;
  border: 0;
  padding: 0;
}
.main-menu .menu-close:hover,
.main-menu .menu-close:focus {
  padding: 0;
  background: 0;
}

#topnavheader.scrolled {
  background: rgba(255,255,255,0.7);
}
#topnavheader.scrolled .main-menu a{ color: rgba(255,255,255,0.8); }
#topnavheader.scrolled .main-menu a:hover{ color: white; }

#topnavheader.scrolled a#main-menu-toggle{ color: rgba(69,69,69,0.8); }
#topnavheader.scrolled a#main-menu-toggle:hover{ color: rgba(69,69,69,1); }

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop{
  color: transparent;
}
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

.nav-social {
  position: absolute;
  width: 100%;
  bottom: 5vh;
  font-size: 3rem;
  text-align: center;
}
.nav-social span {
  margin-right: 10px;
  cursor: pointer;
}
.nav-social span:last-child {
  margin-right: 0px;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}

/*
 Larger screen styling
 Horizontal menu
*/
@media (min-width: 725px) {
  #topnavheader .menu-logo{
    display: none;
  }
  .main-menu:target,
  .main-menu[aria-expanded="true"] {
    box-shadow: none;
    display: flex;
  }
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  
  /* Undo positioning of off-canvas menu */
  .main-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    position: relative;
		left: auto;
		top: auto;
		height: auto;
    background: none;
  }
  
  .main-menu ul {
    display: flex;
    justify-content: flex-end;
    /* Undo off-canvas styling */
    padding: 0;
    margin: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;
  }
  #topnavheader.scrolled .main-menu ul {
    margin: 0;
  }
  
  .main-menu a {
    border: 0 !important; /* Remove borders from off-canvas styling */
    padding: .75em 15px;
    font-size: 1.2rem;
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
  }

  .nav-social span{ color: rgba(255,255,255,0.8); }
  .nav-social span:hover{ color: rgba(255,255,255,1); }
  #topnavheader.scrolled .main-menu a, #topnavheader.scrolled .nav-social span{ color: rgba(69,69,69,0.8); }
  #topnavheader.scrolled .main-menu a:hover, #topnavheader.scrolled .nav-social span:hover{ color: rgba(69,69,69,1); }

  
  .nav-social {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: auto;
    bottom: 0;
  }
  .nav-social span{
    font-size: 1.4rem;
  }
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

header {
  padding: 20px;
  display: flex;
  align-items: baseline;
  position: fixed;
  top: 0px;
  z-index: 9999;
}

article {
  padding: 30px;
  width: 55em;
  font-size: 16px;
  line-height: 1.5em;
}

article h2 {
  font-weight: 500;
  font-size: 28px;
}

.logo {
  margin: 0 30px 0 10px;
  font-size: 1.5em;
}
.scrolled .logo { color: rgba(69,69,69,1) }